/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--fontDefault);
    color: var(--colorBlack);
    font-family: Root;
    font-weight: 500;
}

body{
    overflow-x: hidden;
    /* user-select: none; */
}

body::-webkit-scrollbar {
  width: 6px;              
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);  
}
body::-webkit-scrollbar-thumb {
  background-color: #afafaf; 
  border-radius: 20px;      
}

/* TODO: Прописать шрифты */
/* Fonts */
@font-face {
   src: url("../fonts/PT-Root-UI_Bold.ttf");
   font-family: Root;
   font-display: swap;
   font-weight: 700;
}
@font-face {
   src: url("../fonts/PT-Root-UI_Medium.ttf");
   font-family: Root;
   font-display: swap;
   font-weight: 500;
}
@font-face {
   src: url("../fonts/PT-Root-UI_VF.ttf");
   font-family: Root;
   font-display: swap;
   font-weight: 300;
}

/* TODO: Прописать root'ы */
/* Global CSS */
:root{
    --h1: 76px;
    --h2: 58px;
    --h3: 38px;
    --h4: 28px;
    --h5: 24px;
    --h6: 20px;
    --fontDefault: 18px;
    --colorMain: #3762FD;
    /* --colorMain: orange; */
    --colorGrey:  #f4f4f4;
    --colorWhite: #fff;
    --colorBlack: #292929;
    
    --borderRadiusSmall: 10px;
    --borderRadius: 25px;
    --borderRadiusBig: 40px;
}
html{
    scroll-behavior: smooth;
}
header{
    z-index: 9;
    position: fixed;
    width: 100%;
    padding: 15px 0;
}
.header_relative{
    position: relative;

}
footer{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 200px;
    position: relative;
}

.section{
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-content: center;
    width: 100%;
    padding: 100px 0;
    position: relative;
    z-index: 2;
    /*overflow: hidden;*/
}
.container{
    width: 100%;
    padding: 0 10%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-content: start;
    gap: 50px;
}

.modal__section{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow-x: visible;
}

.modal__container{
    height: 100vh;
    overflow: visible;
    width: 50%;
    background-color: var(--colorWhite);
    padding: 20px 50px !important;
}

.grid{
    display: grid;
}
.grid-row{
    grid-auto-flow: column;
}
.grid-column{
    grid-auto-flow: row;
}
.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-25{
    gap: 25px;
}
.gap-30{
    gap: 30px;
}
.gap-50{
    gap: 50px;
}
.gap-75{
    gap: 75px;
}
.gap-100{
    gap: 100px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-bottom-75{
    margin-bottom: 75px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-content-start{
    align-content: start;
}
.align-content-center{
    align-content: center;
}
.align-content-end{
    align-content: end;
}
.align-content-space-between{
    align-content: space-between;
}
.align-items-start{
    align-items: start;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.justify-items-start{
    justify-items: start;
}
.justify-items-center{
    justify-items: center;
}
.justify-items-end{
    justify-items: end;
}
.align-self-start{
    align-self: start;
}
.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: end;
}
.justify-self-start{
    justify-self: start;
}
.justify-self-center{
    justify-self: center;
}
.justify-self-end{
    justify-self: end;
}
/* TODO: изменить кнопку и ссылку */
.link{
    cursor: pointer;
    text-decoration: none;
    color: var(--colorBlack);
}
.btn{
    cursor: pointer;
    text-decoration: none;
    color: var(--colorWhite);
    background-color: var(--colorBlack);
    padding: 25px 30px;
    border-radius: var(--borderRadiusBig);
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
}

@keyframes btn_circle_open{
    0%{
        scale: 1;
    }
    100%{
        scale: 30;
    }
}
@keyframes btn_circle_close{
    0%{
        scale: 30;
    }
    100%{
        scale: 0;
    }
}
.btn__circle{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--colorMain);
    animation: btn_circle_open 1s ease forwards;
}
.btn__circle_disable{
    animation: btn_circle_close .3s ease forwards;
}
.btn > span{
    position: relative;
    z-index: 2;
    color: var(--colorWhite);
}

.text-inherit{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}
/* TODO: Прописать цвета как в примере ниже */
.color-main{
    color: var(--colorMain);
}
.color-white{
    color: var(--colorWhite);
}
.h1, .h1 *{
    font-size: var(--h1);
    font-weight: 700;
}
.h2{
    font-size: var(--h2);
    font-weight: 700;
}
.h3{
    font-size: var(--h3);
    font-weight: 700;
}
.h4{
    font-size: var(--h4);
    font-weight: 700;
}
.h5{
    font-size: var(--h5);
    font-weight: 700;
}

.h6{
    font-size: var(--h6);
}
.text-align-center{
    text-align: center;
}
.weight-500{
    font-weight: 500;
}
.weight-300{
    font-weight: 300;
}
.weight-700{
    font-weight: 700;
}
.width-100{
    width: 100% !important;
}
.width-fit-content{
    width: fit-content !important;
}

.height-fit-content{
    width: fit-content !important;
}
.arrow::before{
    content: '-';
    position: absolute;
    top: -1px;
    left: 0;
    font-size: 20px;
    transition: color .3s ease, left .2s linear, transform .2s linear;
}
.arrow{
    position: relative;
    transition: color .3s ease, left .2s linear;
    left: 0;
}
.arrow:hover, .link:hover .arrow{
    color: var(--colorMain);
    left: 13px;
}
.arrow:hover::before, .link:hover .arrow::before{
    color: var(--colorMain);
    left: -10px;
    transform: scaleX(2);
}

/* modal */
@keyframes modal_shadow {
    0%{
        box-shadow: 0 0 200vw 200vw rgb(0, 0, 0, 0);
    }
    100%{
        box-shadow: 0 0 200vw 200vw rgb(0, 0, 0, .4);
    }
}
@keyframes modal_shadow_disable {
    0%{
        box-shadow: 0 0 200vw 200vw rgb(0, 0, 0, .4);
    }
    100%{
        box-shadow: 0 0 200vw 200vw rgb(0, 0, 0, 0);
    }
}
.modal_active{
    right: 0;
    transition: right .4s cubic-bezier(0.2, 0.47, 0.54, 0.99);
}
.modal_not_active{
    right: -100vw;
    transition: right .5s cubic-bezier(0.2, 0.47, 0.54, 0.99);
}
.modal_active .container{
    animation: modal_shadow .5s ease forwards;
    animation-delay: .1s;
}
.modal_not_active .container{
    animation: modal_shadow_disable .1s ease forwards;
}

.cross{
    position: absolute;
    top: 26px;
    right: 50px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.input{
    padding: 18px 20px;
    outline: none;
    border: none;
    background-color: var(--colorGrey);
    border-radius: var(--borderRadiusSmall);
    transition: .3s ease-in;
}

.input:focus{
    /* background-color: var(--colorWhite); */
    outline: var(--colorMain) 1px solid;
}

.link-special{
    top: 10px;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, var(--colorMain), var(--colorMain) 50%, var(--colorBlack) 50%);
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    -o-transition: background-position .4s cubic-bezier(.6, .05, .35, .6);
    transition: background-position .4s cubic-bezier(.6, .05, .35, .6);
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.link-special:hover{
    background-position: 0;
}
.link-special > img{
    /* position: absolute; */
    width: 22px;
    fill: red;
}
@keyframes particle_rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
@media (max-width: 1480px) {
    .container {
        padding: 0 2%;
    }
}
@media (max-width: 1280px) {
    :root{
        --h1: 64px;
        --h2: 50px;
        --h3: 28px;
        --h4: 24px;
        --h5: 22px;
        --h6: 20px;
    }

    .modal__container{
        width: 70%;
    }
}
@media (max-width: 1024px) {
    :root{
        --h1: 54px;
        --h2: 44px;
        --h3: 24px;
        --h4: 22px;
        --h5: 20px;
        --h6: 18px;
        --fontDefault: 16px;
    }

    .modal__container{
        width: 80%;
    }
}
@media (max-width: 768px) {
    :root{
        --h1: 42px;
        --h2: 40px;
        --h3: 30px;
        --h4: 22px;
        --h5: 20px;
        --h6: 18px;
        --fontDefault: 16px;
    }

    .modal__container{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 3.5%;
    }

    .modal__container {
        padding: 20px 20px !important;
        gap: 20px;
    }

    .cross{
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
    }
}

